body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	background: #faf6f6;
}

.container {
	max-width: 1440px;
	width: 100%;
	margin-inline: auto;
}

.container2 {
	max-width: 1310px;
	width: 100%;
	margin-inline: auto;
}

.container3 {
	max-width: 900px;
	width: 100%;
	margin-inline: auto;
}

.container4 {
	max-width: 1440px;
	width: 100%;
	margin-inline: auto;
	background: #FFE4BC;
}
