.text {
  text-align: center;
  align-items: center;
  margin-top: 176px;
}
.text1,
.text4 {
  color: #12100c;
  font-family: Roboto;
  font-size: 54px;
  font-weight: 700;
  line-height: 63.72px;
}
.text2,
.text3 {
  color: #999795;
  font-family: Roboto;
  font-size: 54px;
  font-weight: 400;
  line-height: 63.72px;
  text-decoration-line: line-through;
}
